spring:
  jackson:
    time-zone: UTC
  datasource:
    url: jdbc:postgresql://localhost:5433/cadp_db
    username: cadp_user
    password: cadp_pass
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 30000
      max-lifetime: 600000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
